body{
    background-color: rgb(54, 131, 207);
}
.input-container{
   border-radius: 10px;
   height: 40px;
   border: solid none;
   margin: 10px;
   font-family: roboto; 
   text-align: center;
   width: 50%;
   border-style: none;
}
.button-container{
    border-radius: 10px;
    height: 35px;
    width: 50px;
    border-style: none;
    font-family: roboto;
}
.form-container{
    text-align: center;
    background-color: rgb(29, 69, 106);
    border: solid blanchedalmond;
    border-radius: 10px;
    padding: 40px;
    margin-left: 5%;
    margin-right: 10%;
    margin-bottom: 60px;
    margin-top: 10px;
  
}
.heading-container{
    color: white;
    font-weight: 800;
    text-decoration:double;
}
.data-item-container{
    background-color: rgb(29, 69, 106);
    color: white;
    border-radius: 10px;
    padding: 10px;
    width: 40%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
}
.data-container{
    display: flex;
    margin: 10px;
}
.data-delete-button-container{
    border-radius: 10px;
    background-color: white;
    border: solid white;
    height: 40px;
    margin-left:10px;
}

.premium{
    border: solid black;
    background-color: #FFD700;
    color:rgb(214, 22, 22);
    border-radius: 90px;
    width: 95px;
    height: 30px;
    font-family: bold;
    
}

#leederboards{
    color:white;
    background-color: #32149d;
    padding: 10px;
    border-radius: 15px;
}
.leaderboard-heading{
    text-align: center;
    color:red;
}